@model CLIMAX.Models.Inventory

@{
    ViewBag.Title = "Inventory - Delete";
}



<div id="page-wrapper">
    <div class="row">
        <div class="col-lg-12">
            <h2 class="page-header">Are you sure you want to Delete this record?</h2>
        </div>
        <!-- /.col-lg-12 -->
    </div>
    <!-- /.row -->
    <div class="row">
        <div class="col-lg-12">
            <div class="panel panel-default">
                <div class="panel-heading">
                    @Html.ActionLink("Inventory", "Index") > Delete
                </div>

                <!-- /.panel-heading -->
                <div class="panel-body">
                    <div class="dataTable_wrapper">
                        <dl class="dl-horizontal">
                            <dt>
                                @Html.DisplayNameFor(model => model.MaterialID)
                            </dt>

                            <dd>
                                @Html.DisplayFor(model => model.MaterialID)
                            </dd>

                            <dt>
                                @Html.DisplayNameFor(model => model.QtyInStock)
                            </dt>

                            <dd>
                                @Html.DisplayFor(model => model.QtyInStock)
                            </dd>

                            <dt>
                                @Html.DisplayNameFor(model => model.LastDateUpdated)
                            </dt>

                            <dd>
                                @Html.DisplayFor(model => model.LastDateUpdated)
                            </dd>

                        </dl>

                        @using (Html.BeginForm())
                        {
                            @Html.AntiForgeryToken()

                            <div class="form-actions no-color">
                                <input type="submit" value="Delete" class="btn btn-default" />
                            </div>
                        }
                    </div>
                </div>
                <!-- /.table-responsive -->
            </div>
            <!-- /.panel-body -->
        </div>
        <!-- /.panel -->
        <!-- /.col-lg-12 -->
    </div>
    <!-- /.row -->
</div>

<!-- /#page-wrapper -->
