@model CLIMAX.Models.Inventory

@{
    ViewBag.Title = "Inventory - Delete";
}



<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>Inventory</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.MaterialID)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.MaterialID)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.QtyInStock)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.QtyInStock)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.LastDateUpdated)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.LastDateUpdated)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Delete" class="btn btn-default" /> |
            @Html.ActionLink("Back to List", "Index")
        </div>
    }
</div>
