@model CLIMAX.Models.ChargeSlip

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>ChargeSlip</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.DateTimePurchased)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DateTimePurchased)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ModeOfPayment)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ModeOfPayment)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.AmtOfPayment)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.AmtOfPayment)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ApprovalNo)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ApprovalNo)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.GiftCertificateAmt)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.GiftCertificateAmt)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.GiftCertificateNo)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.GiftCertificateNo)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CheckNo)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CheckNo)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.ChargeSlipID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
