@model IEnumerable<CLIMAX.Models.ChargeSlip>

@{
    ViewBag.Title = "ChargeSlip - Index";
}

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.DateTimePurchased)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ModeOfPayment)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.AmtPayment)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.GiftCertificateAmt)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.GiftCertificateNo)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CheckNo)
        </th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.DateTimePurchased)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ModeOfPayment)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.AmtPayment)
        </td>
        @if(item.GiftCertificateAmt != null)
        { 
        <td>
            @Html.DisplayFor(modelItem => item.GiftCertificateAmt)
        </td>
        }
        else
        {
           <td>0</td>
        }
        @if(item.GiftCertificateNo != null)
        {
                <td>
                    @Html.DisplayFor(modelItem => item.GiftCertificateNo)
                </td>
        }
        else
        {
            <td>N/A</td>
        }
        @if(item.CheckNo != null)
        { 
        <td>
            @Html.DisplayFor(modelItem => item.CheckNo)
        </td>
        }
        else
        {
            <td>N/A</td>
        }
    </tr>
}

</table>
