@model IEnumerable<CLIMAX.Models.AuditTrail>

@{
    ViewBag.Title = "Audit Trails - Index";
}

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.actionType.AffectedRecord)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.employee.LastName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ActionDetail)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.RecordID)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.DateTimeOfAction)
        </th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.actionType.AffectedRecord)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.employee.LastName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ActionDetail)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.RecordID)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.DateTimeOfAction)
        </td>
    </tr>
}

</table>
