
<head>
    <title>Home</title>
    <link rel="stylesheet" href='@Url.Content("~/Content/style.css")' />
    <link href='@Url.Content("~/Content/bootstrap-3.3.2-dist/bootstrap.min.css")' rel="stylesheet" />
    <link href='@Url.Content("~/Content/animations.css")' rel="stylesheet" />
    <link href='@Url.Content("~/Content/nivo-lightbox.css")' rel="stylesheet" />
</head>
<body>
    @{
        ViewBag.Title = "Home Page";
        Layout = null;
    }
<section class="hero" id="intro">
    <div class="container">
        <div class="row">
            <div class="col-md-12 text-right navicon">
                <a id="nav-toggle" class="nav_slide_button" href="#"><span></span></a>
            </div>
        </div>
        <div class="row">
            <div class="col-md-8 col-md-offset-2 text-center inner">
                <div class="animatedParent">
                    <h1 class="animated fadeInDown">CLIMAX</h1>
                    <h3 class="animated fadeInUp">Clinic Management System</h3>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6 col-md-offset-3 text-center">
                <a href="#about" class="learn-more-btn btn-scroll">Learn more</a>
            </div>
        </div>
    </div>
</section>


<!-- Navigation -->
<div id="navigation">
    <nav class="navbar navbar-custom" role="navigation">
        <div class="container">
            <div class="row">
                <div class="col-md-2">
                    <div class="site-logo">
                        <a href="index.html" class="brand">CLIMAX</a>
                    </div>
                </div>


                <div class="col-md-10">

                    <!-- Brand and toggle get grouped for better mobile display -->
                    <div class="navbar-header">
                        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#menu">
                            <i class="fa fa-bars"></i>
                        </button>
                    </div>

                    <!-- Collect the nav links, forms, and other content for toggling -->
                    <div class="collapse navbar-collapse" id="menu">
                        <ul class="nav navbar-nav navbar-right">
                            <li><a href="#intro">Home</a></li>
                            <li>@Html.ActionLink("Feedback", "ConfirmCode", "Surveys")</li>
                            <li><a href="#service">Treatments</a></li>
                            <li><a href="#works">Branches</a></li>
                            <li><a href="#contact">Contact</a></li>
                            <li> @Html.ActionLink("Sign In", "Login", "Account") </li>
                            <li>
                                <a href="#faqs" class="portfolio-link" data-toggle="modal">
                                    <div class="caption">
                                        <div class="caption-content">
                                        </div>
                                    </div>
                                    FAQs
                                </a>
                            </li>
                        </ul>
                    </div>
                    <!-- /.Navbar-collapse -->
                </div>
            </div>
        </div>
        <!-- /.container -->
    </nav>
    </div>
    <!-- /Navigation -->
    <!-- Modal Sign In -->
    <div class="portfolio-modal modal fade" id="signin" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-body">
            <div class="close-modal" data-dismiss="modal">
                <div class="lr">
                    <div class="rl">
                    </div>
                </div>
            </div>
            <div class="container" id="modal-signin">
                <div class="row">
                    <div class="col-md-8 col-md-offset-2 text-center inner">
                        <div class="modal-body">
                            <center><h2 id="signin-h2">Sign In</h2></center>
                            <form id="contact-form">
                                <div class="row marginbot-20">
                                    <div class="col-md-6 col-md-offset-3">
                                        <input type="email" class="form-control input-lg" id="email" placeholder="Enter email" required="required" />

                                        <br>

                                        <input type="password" class="form-control input-lg" id="password" placeholder="Enter password" required="required" />
                                    </div>
                                </div>

                                <div class="row">
                                    <div class="col-md-6 col-md-offset-3">
                                        <button type="submit" class="btn btn-skin btn-lg btn-block" id="btnSignIn">
                                            Sign In
                                        </button>
                                    </div>
                                </div>
                            </form>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Modal FAQs -->
    <div class="portfolio-modal modal fade" id="faqs" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-body">
            <div class="close-modal" data-dismiss="modal">
                <div class="lr">
                    <div class="rl">
                    </div>
                </div>
            </div>
            <div class="container" id="modal-signin">
                <div class="row">
                    <div class="col-md-8 col-md-offset-2 text-center inner">
                        <div class="modal-body">
                            <h2>Frequently Asked Questions</h2>
                            <p>Q.  What are your regular office hours?</p>

                            <p> A.  Our regular clinic hours are 8AM - 12 PM and 1 PM - 5 PM, Monday through Friday, except Wednesday which we start appointments at 9 AM. Our phone service hours are 8 AM - 5 PM, Monday through Friday, except Wednesday, which we start phone service at 9 AM.</p>

                            <p>Q.  What about children with acne? What over-the-counter remedies do you suggest?</p>

                            <p> A.  For children with non-scarring acne, over-the-counter benzyl peroxide-based medications can be very effective. If the child has large, deep, acne lesions, or lesions that are causing scarring, or that don't respond to over-the-counter benzyl peroxide preparations, I would suggest they see a dermatologist, because there are a number of prescription treatments available that are extremely effective for acne. It is also important for parents to realize that acne is caused by...(line truncated)...

                            <p>Q.  Can benzyl peroxide help reduce scarring?</p>

                            <p> A.  Benzyl peroxide can help prevent acne lesions, which, in turn, reduces scarring. Some of the lesions on the face that people believe to be scars are actually post-inflammatory pigment changes. These will eventually fade away. True scars do not completely go away on their own. Benzyl peroxide will not make an existing scar go away. To treat scars requires cosmetic surgical techniques, which is why it is very important to treat bad acne so scars aren't made. Preventing scar...(line truncated)...

                            <p>Q.  What warning signs should parents be aware of for potentially dangerous skin conditions?</p>

                            <p> A.  Certainly any rash in a child who appears ill should be evaluated immediately by a physician. As I mentioned earlier, any rash that steadily is worsening and spreading should be evaluated. Parents also should realize that it is possible to become allergic, or irritated, by over-the-counter treatments. It is not a good idea to go from over-the-counter therapy to over-the-counter therapy without an idea of what you are treating.</p>

                            <p>Q. What should adults who work in the sun do for protection?</p>

                            <p> A.  The recommendations for adults are essentially the same as for children. It is important to realize that clothing and hats can provide a significant amount of sun protection. For people who are in the sun a lot and can't avoid the sun, there are a number of lines of clothing that are loose and light and provide an SPF of over 30. </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Section: about -->
    <section id="about" class="home-section color-dark bg-white">
        <div class="container marginbot-50">
            <div class="row">
                <div class="col-lg-8 col-lg-offset-2">
                    <div class="animatedParent">
                        <div class="section-heading text-center animated bounceInDown">
                            <h2 class="h-bold">About Us</h2>
                            <div class="divider-header"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="container">
            <div class="row">
                <div class="col-lg-8 col-lg-offset-2 animatedParent">
                    <div class="text-center">
                        <h5>Mission</h5>
                        <p>
                            To keep confidence in place with our Patients and keep them vibrant, young and happy thus our slogan says "Happy Skin, Happy You". We want to give our Patients the ultimately, confidence in their own skin as the source and the promise of beauty.

                        </p>
                        <h5>Vision</h5>
                        <p>
                            To be an institution that caters to the physical needs as well as address the emotional and social well-being of the person; an institution that allows an ordinary person to afford such treatment and pampering.

                        </p>
                        <a href="#service" class="learn-more-btn btn-scroll">What we do</a>
                    </div>
                </div>


            </div>
        </div>
    </section>
    <!-- /Section: about -->
    <!-- Section: services -->
    <section id="service" class="home-section color-dark bg-gray">
        <div class="container marginbot-50">
            <div class="row">
                <div class="col-lg-8 col-lg-offset-2">
                    <div>
                        <div class="section-heading text-center">
                            <h2 class="h-bold">What we can do for you</h2>
                            <div class="divider-header"></div>
                        </div>
                    </div>
                </div>
            </div>

        </div>

        <div class="text-center">
            <div class="container">

                <div class="row animatedParent">
                    <div class="col-xs-6 col-sm-4 col-md-4">
                        <div class="animated rotateInDownLeft">
                            <div class="service-box">
                                <div class="service-icon">
                                    <!-- span icon-->
                                </div>
                                <div class="service-desc">
                                    <h5>Thermasculpt</h5>
                                    <div class="divider-header"></div>
                                    <p>
                                        The ideal, non-invasive procedure for body sculpting that addresses stubborn fats that can’t be trimmed off by diet or exercise. This procedure guarantees at least 1-2 inches loss.

                                    </p>

                                </div>
                            </div>
                        </div>
                    </div>


                    <div class="col-xs-6 col-sm-4 col-md-4">
                        <div class="animated rotateInDownLeft slow">
                            <div class="service-box">
                                <div class="service-icon">
                                    <!-- span icon-->
                                </div>
                                <div class="service-desc">
                                    <h5>Mesotherapy</h5>
                                    <div class="divider-header"></div>
                                    <p>
                                        A Lipo-dissolve Injectable that aids in dissolving stubborn fats faster. This treatment is highly recommended as a supplemental treatment to Thermasculpt.

                                    </p>

                                </div>
                            </div>
                        </div>
                    </div>



                    <div class="col-xs-6 col-sm-4 col-md-4">
                        <div class="animated rotateInDownLeft slower">
                            <div class="service-box">
                                <div class="service-icon">
                                    <!-- span icon-->
                                </div>
                                <div class="service-desc">
                                    <h5>Thermalift</h5>
                                    <div class="divider-header"></div>
                                    <p>
                                        The toning and firming procedure for the face; result is clearly visible even after the first session. Sign up for 5 sessions and get 1 more session FREE.

                                    </p>

                                </div>
                            </div>
                        </div>
                    </div>



                </div>
            </div>
            <br>
            <a href="#treatmentsModal" class="learn-more-btn" data-toggle="modal">Learn more</a>
            <div class="caption">
                <div class="caption-content">
                </div>
            </div>

        </div>
    </section>
    <!-- /Section: services -->
    <!-- Modal Treatments-->
    <div class="portfolio-modal modal fade" id="treatmentsModal" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-body">
            <div class="close-modal" data-dismiss="modal">
                <div class="lr">
                    <div class="rl">
                    </div>
                </div>
            </div>
            <div class="container" id="modal-signin">
                <div class="row">
                    <div class="col-md-8 col-md-offset-2 text-center inner">
                        <div class="modal-body">
                            <h2 id="signin-h2">Products and Services</h2>
                            <p>Q.  What are your regular office hours?</p>

                            <p> A.  Our regular clinic hours are 8AM - 12 PM and 1 PM - 5 PM, Monday through Friday, except Wednesday which we start appointments at 9 AM. Our phone service hours are 8 AM - 5 PM, Monday through Friday, except Wednesday, which we start phone service at 9 AM.</p>

                            <p>Q.  What about children with acne? What over-the-counter remedies do you suggest?</p>

                            <p> A.  For children with non-scarring acne, over-the-counter benzyl peroxide-based medications can be very effective. If the child has large, deep, acne lesions, or lesions that are causing scarring, or that don't respond to over-the-counter benzyl peroxide preparations, I would suggest they see a dermatologist, because there are a number of prescription treatments available that are extremely effective for acne. It is also important for parents to realize that acne is caused by...(line truncated)...

                            <p>Q.  Can benzyl peroxide help reduce scarring?</p>

                            <p> A.  Benzyl peroxide can help prevent acne lesions, which, in turn, reduces scarring. Some of the lesions on the face that people believe to be scars are actually post-inflammatory pigment changes. These will eventually fade away. True scars do not completely go away on their own. Benzyl peroxide will not make an existing scar go away. To treat scars requires cosmetic surgical techniques, which is why it is very important to treat bad acne so scars aren't made. Preventing scar...(line truncated)...

                            <p>Q.  What warning signs should parents be aware of for potentially dangerous skin conditions?</p>

                            <p> A.  Certainly any rash in a child who appears ill should be evaluated immediately by a physician. As I mentioned earlier, any rash that steadily is worsening and spreading should be evaluated. Parents also should realize that it is possible to become allergic, or irritated, by over-the-counter treatments. It is not a good idea to go from over-the-counter therapy to over-the-counter therapy without an idea of what you are treating.</p>

                            <p>Q. What should adults who work in the sun do for protection?</p>

                            <p> A.  The recommendations for adults are essentially the same as for children. It is important to realize that clothing and hats can provide a significant amount of sun protection. For people who are in the sun a lot and can't avoid the sun, there are a number of lines of clothing that are loose and light and provide an SPF of over 30. </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>


    <!-- Section: works -->
    <section id="works" class="home-section color-dark text-center bg-white">
        <div class="container marginbot-50">
            <div class="row">
                <div class="col-lg-8 col-lg-offset-2">
                    <div>
                        <div class="animatedParent">
                            <div class="section-heading text-center">
                                <h2 class="h-bold animated bounceInDown">Where are we</h2>
                                <div class="divider-header"></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="container">
            <div class="row animatedParent">
                <iframe src="https://www.google.com/maps/d/u/0/embed?mid=zdF8LKZOejDk.kqjshwpS67DU" width="940" height="480"></iframe>
            </div>
        </div>

    </section>
    <!-- /Section: works -->
    <!-- Section: contact -->
    <section id="contact" class="home-section nopadd-bot color-dark bg-gray text-center">
        <div class="container marginbot-50">
            <div class="row">
                <div class="col-lg-8 col-lg-offset-2">
                    <div class="animatedParent">
                        <div class="section-heading text-center">
                            <h2 class="h-bold animated bounceInDown">Get in touch with us</h2>
                            <div class="divider-header"></div>
                        </div>
                    </div>
                </div>
            </div>

        </div>

        <div class="container">

            <div class="row marginbot-80">
                <div class="col-md-8 col-md-offset-2">
                    <form id="contact-form">
                        <div class="row marginbot-20">
                            <div class="col-md-6 xs-marginbot-20">
                                <input type="text" class="form-control input-lg" id="name" placeholder="Enter name" required="required" />
                            </div>
                            <div class="col-md-6">
                                <input type="email" class="form-control input-lg" id="email" placeholder="Enter email" required="required" />
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-12">
                                <div class="form-group">
                                    <input type="text" class="form-control input-lg" id="subject" placeholder="Subject" required="required" />
                                </div>
                                <div class="form-group">
                                    <textarea name="message" id="message" class="form-control" rows="4" cols="25" required="required"
                                              placeholder="Message"></textarea>
                                </div>
                                <button type="submit" class="learn-more-btn" id="btnContactUs">
                                    Send Message
                                </button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>


        </div>
    </section>
    <!-- /Section: contact -->
    <!-- /Section: contact -->

    <footer>
        <div class="container">
            <div class="row">
                <div class="col-md-6">
                    <ul class="footer-menu">
                        <li><a href="#intro">Home</a></li>
                        <li><a href="www.facebook.com">Facebook</a></li>
                        <li><a href="www.twitter.com">Twitter</a></li>
                    </ul>
                </div>
                <div class="col-md-6 text-right">
                    <p>&copy;Copyright 2015 - Designed by Whitebox</p>
                </div>
            </div>
        </div>
    </footer>
    <script src='@Url.Content("~/Scripts/jquery-2.1.3.js")'></script>
  <script src='@Url.Content("~/Scripts/bootstrap.min.js")'></script>
    <script src='@Url.Content("~/Scripts/css3-animate-it.js")'></script>
    <script src='@Url.Content("~/Scripts/jquery.sticky.js")'></script>
    <script src='@Url.Content("~/Scripts/custom.js")'></script>
   
    </body>