@model CLIMAX.Models.History
@{
    ViewBag.Title = "History - Confirm";
}
<div id="page-wrapper">
    <div class="row">
        <div class="col-lg-12">
            <h2 class="page-header">You are about to end the sessions for this treatment. This cannot be undone. Are you sure the treatment is finished?</h2>
        </div>
        <!-- /.col-lg-12 -->
    </div>
    <!-- /.row -->
    <div class="row">
        <div class="col-lg-12">
            <div class="panel panel-default">
                <div class="panel-heading">
                    @Html.ActionLink("History", "Index") > Finish
                </div>

                <!-- /.panel-heading -->
                <div class="panel-body">
                    <div class="dataTable_wrapper">
                        <dl class="dl-horizontal">
                            <dt>
                                @Html.DisplayNameFor(model => model.patient.LastName)
                            </dt>
                            <dd>
                                @Html.DisplayFor(model => model.patient.LastName)
                            </dd>
                            <dt>
                                @Html.DisplayNameFor(model => model.patient.FirstName)
                            </dt>
                            <dd>
                                @Html.DisplayFor(model => model.patient.FirstName)
                            </dd>
                            <dt>
                                @Html.DisplayNameFor(model => model.patient.MiddleName)
                            </dt>
                            <dd>
                                @Html.DisplayFor(model => model.patient.MiddleName)
                            </dd>
                            <dt>
                                @Html.DisplayNameFor(model => model.treatment.TreatmentName)
                            </dt>
                            <dd>
                                @Html.DisplayFor(model => model.treatment.TreatmentName)
                            </dd>
                        </dl>
                        @using (Html.BeginForm())
                        {
                            @Html.AntiForgeryToken()
                            @Html.HiddenFor(model=>model.DateTimeStart)
                            @Html.HiddenFor(model=>model.TreatmentID)
                            @Html.HiddenFor(model=>model.HistoryID)
                            @Html.HiddenFor(model=>model.EmployeeID)
                            @Html.HiddenFor(model => model.ChargeSlipID)
                            <div class="form-actions no-color">
                                <input type="submit" value="Confirm" class="btn btn-default" />
                            </div>
                        }
                    </div>
                    <!-- /.table-responsive -->
                </div>
                <!-- /.panel-body -->
            </div>
            <!-- /.panel -->
            <!-- /.col-lg-12 -->
        </div>
        <!-- /.row -->
    </div>
</div>
<!-- /#page-wrapper -->
