@model IEnumerable<CLIMAX.Models.History>

@{
    ViewBag.Title = "History - Index";
}



<p>
    @Html.ActionLink("Create New", "Create", new { id = ViewBag.PatientID})
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.employee.LastName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.patient.FirstName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.SessionNo)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.TreatmentID)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.DateTimeStart)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.DateTimeEnd)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.employee.LastName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.patient.FirstName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.SessionNo)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.TreatmentID)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.DateTimeStart)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.DateTimeEnd)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.HistoryID }) |
            @Html.ActionLink("Details", "Details", new { id=item.HistoryID }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.HistoryID })
        </td>
    </tr>
}

</table>
