@model IEnumerable<CLIMAX.Models.History>

@{
    ViewBag.Title = "History - Index";
}

<table class="table">
    <tr>
        <th>
          Therapist
        </th>
        <th>
          Patient
        </th>
        <th>
            @Html.DisplayNameFor(model => model.treatment.TreatmentName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ChargeSlipID)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.DateTimeStart)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.DateTimeEnd)
        </th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.employee.FullName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.patient.FullName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.treatment.TreatmentName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ChargeSlipID)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.DateTimeStart)
        </td>
       
@if(item.DateTimeEnd == null && (User.IsInRole("OIC")||User.IsInRole("Auditor")))
            {
        <td>
          
            @Html.ActionLink("Finish Treatment", "Confirm", new { id = item.HistoryID }, new { @class = "btn btn-default" })
              
        </td>
            }
else
{
    <td>

        @Html.DisplayFor(modelItem => item.DateTimeEnd)

    </td>
}
    </tr>
}

</table>
@Html.ActionLink("Back to List","Index","Patients")