@model IEnumerable<CLIMAX.Models.Materials>

@{
    ViewBag.Title = "Materials - Index";
}
@if (User.IsInRole("Admin") || User.IsInRole("Auditor")) {
<p>
    @Html.ActionLink("Create New", "Create")
</p>
}
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.unitType.Type)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.MaterialName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Description)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Price)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.unitType.Type)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.MaterialName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Description)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Price)
        </td>
        @if (User.IsInRole("Admin") || User.IsInRole("Auditor")) { 
        <td>
            @Html.ActionLink("Edit", "Edit", new { id = item.MaterialID }, new { @class = "btn btn-default"}) 
            @Html.ActionLink("Delete", "Delete", new { id = item.MaterialID }, new { @class = "btn btn-default" })
        </td>
        }
        else
        {
            <td></td>
        }
    </tr>
}

</table>
