@model CLIMAX.Models.Reports

@{
    ViewBag.Title = "Reports - Create";
}



@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">
        <h4>Reports</h4>
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })

        <div class="form-group">
            @Html.LabelFor(model => model.ReportTypeID, "ReportTypeID", new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownListFor(model => model.ReportTypeID, (IEnumerable<SelectListItem>)ViewBag.ReportTypeID)
                @Html.ValidationMessageFor(model => model.ReportTypeID)
            </div>
        </div>
        <div class="form-group">
            @Html.Label("start", new { @class = "control-label col-md-2" })
            <div class="col-9-md-10">
                <input name="start" class="ui-datepicker date-picker form-control" />
            </div>
        </div>

        <div class="form-group">
            @Html.Label("end", new { @class = "control-label col-md-2" })
            <div class="col-9-md-10">
                <input name="end" class="ui-datepicker date-picker form-control" />
            </div>
        </div>
        @if (User.IsInRole("OIC"))
        {
            <div class="form-group">
                @Html.Label("BranchID", "Branch", new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @ViewBag.Branch
                </div>
            </div>
        }
        else
        {
            <div class="form-group">
                @Html.Label("BranchID", "Branch", new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.DropDownList("BranchID")
                </div>
            </div>
        }
        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Request" class="btn btn-default" />
            </div>
        </div>
    </div>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
    <script src="@Url.Content("~/Scripts/jquery-ui-1.11.4.min.js")"></script>
    <script>
        $(function () {
            $(".date-picker").datepicker({
                changeMonth: true,
                changeYear: true,
                dateFormat: 'yy-mm-dd',
                beforeShow: function (input, inst) {
                    $(inst.dpDiv).removeClass('calendar-off');
                },
                yearRange: "-0:+20"
            });
        });
    </script>
}