@model IEnumerable<CLIMAX.Models.Reports>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.employee.LastName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.reportType.Type)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.DateTimeGenerated)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.employee.LastName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.reportType.Type)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.DateTimeGenerated)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.ReportsID }) |
            @Html.ActionLink("Details", "Details", new { id=item.ReportsID }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.ReportsID })
        </td>
    </tr>
}

</table>
