@model CLIMAX.Models.Patient

@{
    ViewBag.Title = "Delete";
}

<div id="page-wrapper">
    <div class="row">
        <div class="col-lg-12">
            <h2 class="page-header">Are you sure you want to Delete the Patient's Record?</h2>
        </div>
        <!-- /.col-lg-12 -->
    </div>
    <!-- /.row -->
    <div class="row">
        <div class="col-lg-12">
            <div class="panel panel-default">
                <div class="panel-heading">
                    @Html.ActionLink("Patients", "Index") > Delete Patient
                </div>

                <!-- /.panel-heading -->
                <div class="panel-body">
                    <div class="dataTable_wrapper">
                        <dl class="dl-horizontal">
                            
                            <dt>
                                @Html.DisplayNameFor(model => model.branch.BranchName)
                            </dt>

                            <dd>
                                @Html.DisplayFor(model => model.branch.BranchName)
                            </dd>

                          

                            <dt>
                                @Html.DisplayNameFor(model => model.FirstName)
                            </dt>

                            <dd>
                                @Html.DisplayFor(model => model.FirstName)
                            </dd>

                            <dt>
                                @Html.DisplayNameFor(model => model.MiddleName)
                            </dt>

                            <dd>
                                @Html.DisplayFor(model => model.MiddleName)
                            </dd>

                            <dt>
                                @Html.DisplayNameFor(model => model.LastName)
                            </dt>

                            <dd>
                                @Html.DisplayFor(model => model.LastName)
                            </dd>

                            
                        </dl>

                        @using (Html.BeginForm())
                        {
                            @Html.AntiForgeryToken()

                            <div class="form-actions no-color">
                                <button type="submit" value="Delete" class="btn btn-default glyphicon glyphicon-trash"></button>
                            </div>
                        }
                    </div>


                    <!-- /.table-responsive -->
                </div>
                <!-- /.panel-body -->
            </div>
            <!-- /.panel -->
        </div>
        <!-- /.col-lg-12 -->
    </div>
    <!-- /.row -->
</div>
<!-- /#page-wrapper -->


    
