@{
    ViewBag.Title = "Reservations - Calendar";
    Layout = null;
}

<!DOCTYPE html>
<html>
<head>
    <title>Calendar</title>
    <link href="@Url.Content("~/Content/fullcalendar.css")" rel="stylesheet" type="text/css" />
    <link href="@Url.Content("~/Content/jquery-ui.css")" rel="stylesheet" type="text/css" />
    <script src="@Url.Content("~/Scripts/jquery-2.1.3.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/Scripts/fullcalendar.min.js")" type="text/javascript"></script>
    <script>
        $(document).ready(function () {
            DisplayCalendar();
        });

        function DisplayCalendar() {

            //Initialise calendar
            $('#calendar').fullCalendar({
                theme: true,
                firstDay: 1,
                header: {
                    left: 'today prev,next',
                    center: 'title',
                    right: 'month,agendaWeek,agendaDay'
                },
                defaultView: 'agendaWeek',
                minTime: '9:00am',
                maxTime: '11:00pm',
                allDaySlot: false,
                columnFormat: {
                    month: 'ddd',
                    week: 'ddd dd/MM',
                    day: 'dddd M/d'
                },
                eventClick: function (calEvent, jsEvent, view) {
                    window.location = '@Url.Action("Details", "Reservations")'+'?id='+calEvent.id;
                },
                droppable: false,
                timezone: 'local',
                    editable: false,
                    eventTextColor: 'Yellow',
                    eventBackgroundColor: 'purple'
                });
           // });
            $('#calendar').fullCalendar('addEventSource',
                 function (start, end, callback) {
                     // When requested, dynamically generate a
                     // repeatable event for every monday.
                     var events = [];
                     var list = '@(Html.Raw(ViewBag.Reservations))';
                     var objects = $.parseJSON(list);
                     for(var item in objects)
                         {
                             events.push({
                                 id: objects[item]['id'],
                                 title: objects[item]['title'],
                                 description: objects[item]['description'],
                                 start: objects[item]['start'],
                                 end: objects[item]['end'],
                                 allDay: false
                             });
                     }
                     // return events generated
                     callback(events);
                 }
             );
        }
    </script>
</head>
<body>
    <div id="calendar"></div>
<br />
    @Html.ActionLink("Back to List", "Index", "Reservations")
</body>
</html>