@model CLIMAX.Models.Reservation

@{
    ViewBag.Title = "Delete";
}

<div id="page-wrapper">
    <div class="row">
        <div class="col-lg-12">
            <h2 class="page-header">Are you sure you want to delete the Reservations's Record?</h2>
        </div>
        <!-- /.col-lg-12 -->
    </div>
    <!-- /.row -->
    <div class="row">
        <div class="col-lg-12">
            <div class="panel panel-default">
                <div class="panel-heading">
                    @Html.ActionLink("Reservations", "Index") > Delete Record
                </div>

                <!-- /.panel-heading -->
                <div class="panel-body">
                    <div class="dataTable_wrapper">
                        <dl class="dl-horizontal">
                            <dt>
                                @Html.DisplayNameFor(model => model.employee.LastName)
                            </dt>

                            <dd>
                                @Html.DisplayFor(model => model.employee.LastName)
                            </dd>

                            <dt>
                                @Html.DisplayNameFor(model => model.patient.FirstName)
                            </dt>

                            <dd>
                                @Html.DisplayFor(model => model.patient.FirstName)
                            </dd>

                            <dt>
                                @Html.DisplayNameFor(model => model.TreatmentID)
                            </dt>

                            <dd>
                                @Html.DisplayFor(model => model.TreatmentID)
                            </dd>

                            <dt>
                                @Html.DisplayNameFor(model => model.ReservationType)
                            </dt>

                            <dd>
                                @Html.DisplayFor(model => model.ReservationType)
                            </dd>

                            <dt>
                                @Html.DisplayNameFor(model => model.DateTimeReserved)
                            </dt>

                            <dd>
                                @Html.DisplayFor(model => model.DateTimeReserved)
                            </dd>

                            <dt>
                                @Html.DisplayNameFor(model => model.Notes)
                            </dt>

                            <dd>
                                @Html.DisplayFor(model => model.Notes)
                            </dd>

                        </dl>
                        
                        @using (Html.BeginForm())
                        {
                            @Html.AntiForgeryToken()

                            <div class="form-actions no-color">
                                <input type="submit" value="Delete" class="btn btn-default" />
                             
                            </div>
                        }
                        </dl>
                    </div>


                    <!-- /.table-responsive -->
                </div>
                <!-- /.panel-body -->
            </div>
            <!-- /.panel -->
        </div>
        <!-- /.col-lg-12 -->
    </div>
    <!-- /.row -->
</div>
<!-- /#page-wrapper -->

